<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.king.signature">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".GridPaintActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:theme="@style/HandWriteTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

    </application>

</manifest>